<footer class="uk-padding uk-background-secondary uk-margin-remove-bottom uk-margin-top">
    <div class="uk-container uk-container-medium">
        <div uk-grid>
            <div class="uk-width-1-2">
                <img style="max-height: 96px;" alt="Saint David's Church" src="./assets/images/logo-horizontal.png">
            </div>
            <div class="uk-width-1-2 uk-child-width-expand@m" uk-grid>
                <div>
                    <h3>Contact</h3>
                    <p><a href="mailto:{{ site.data.contact.email }}">{{ site.data.contact.email }}</a></p>
                    <p>{% for line in site.data.contact.mailing_address %}{% if forloop.first == false %}<br>{% endif %}{{ line }}{% endfor %}</p>
                    <p>{{ site.data.contact.phone_number }}</p>
                </div>
            </div>
        </div>
    </div>
</footer>