<head profile="http://www.w3.org/2005/10/profile">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% if page.title %}{{ page.title }} | {% endif %} {{ site.title }}</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Open+Sans:300,400&display=swap" rel="stylesheet">
    
    <!-- UIKit css -->
    <link rel="stylesheet" href="/css/styles.css">
    
    <!-- UIKit JS -->
    <script src="/js/uikit.min.js"></script>
    <script src="/js/uikit-icons.min.js"></script>
  
    <link rel="icon" 
      type="image/png" 
      href="/assets/favicon.png" />
</head>
