<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
    <div class="container">
        <a class="uk-logo" href="#"><img src=".assets/images/logo-horizontal.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active pr-3">
                    <a class="nav-link" href="./index.html">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./roastery.html">Roastery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./drinks.html">Coffee & Drinks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./food.html">Food</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./music.html">Music</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./shop.html">Shop</a>
                </li>
            </ul>
        </div>
    </div>
</nav>