<div>
    <div uk-sticky="media: @m">
        <div class="uk-navbar-container">
            <div class="uk-container">
                <nav class="uk-navbar"
                    uk-navbar="{&quot;align&quot;:&quot;left&quot;,&quot;boundary&quot;:&quot;!.uk-navbar-container&quot;}">

                    <div class="uk-navbar-center">

                        <div class="uk-margin-auto-vertical">
                            <ul class="uk-navbar-nav uk-flex-wrap">
                                {% for item in site.data.navigation %}
                                {% if item.url == page.url %}
                                <li class="uk-active">
                                    <a href="{{item.url}}" class="active">{{item.title}}</a>
                                </li>
                                {% else %}
                                <li class="uk-align-center uk-margin-remove-top uk-margin-remove-bottom">
                                    <a href="{{item.url}}">{{item.title}}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>